@font-face {
  font-family: 'iconfont';  /* project id 1424093 */
  src: url('//at.alicdn.com/t/font_1424093_x4fe7wy3m3.eot');
  src: url('//at.alicdn.com/t/font_1424093_x4fe7wy3m3.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1424093_x4fe7wy3m3.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1424093_x4fe7wy3m3.woff') format('woff'),
  url('//at.alicdn.com/t/font_1424093_x4fe7wy3m3.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1424093_x4fe7wy3m3.svg#iconfont') format('svg');
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shuben01:before {
  content: "\e78f";
  color:#FFBA00;
}
.icon-icon:before {
  content: "\e6d2";
  color:#FFBA00;
}
.icon-shoucang:before {
  content: "\e602";
}

.icon-mingpian2:before {
  content: "\e61f";
}


.icon-touxiang:before {
  content: "\e679";
}

.icon-shouji:before {
  content: "\e63b";
}

.icon-shuqian_yel:before {
  content: "\e600";
}

.icon-weixin:before {
  content: "\e632";
}
.icon-zhifubao:before {
  content: "\e789";
}
.icon-yinxingqia:before {
  content: "\e601";
}


